<div class="container" style="background-color:#FEE294;border-radius: 8px;">
    <div class="d-flex" style="background-color:#FEE294">
        <div class="mr-auto p-2" style="background-color:#FEE294">
            <pre style="background-color:#FEE294">
                <Strong>
                It is a long eastablished fact that a 
                reader will be
                </Strong>
                It is a long eastablished fact that a reader will be
                distracted by the readable content of a page
            </pre>
        </div>
        <div class="p-2" style="background-color:#FEE294 ;">
            <img src="../../../../assets//banner.jpeg" style="background-color:#FEE294 ;">
        </div>
    </div>
</div>

<br>

<div class="container">
    <div class="d-flex">
        <div class="p-2">
            <div class="card" style="width: 18rem;border: none;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">My Wallet</li>
                    <li class="list-group-item">Pay Later</li>
                    <li class="list-group-item">Working Capital</li>
                    <li class="list-group-item">Summary</li>
                </ul>
            </div>
        </div>
        <div class="p-2">
            <div class="card" style="width: 18rem;border-radius: 8px;">
                <div class="card-body">
                    <h5 class="card-title">
                        <img src="../../../../assets//grab.jpeg" style="width:30px;" />
                    </h5>
                    <br>
                    <strong>Grab Balance</strong>
                    <br>
                    <strong>$ 16,575.18</strong>
                    <img src="../../../../assets//wallet.jpeg" style="width:max-content;" />
                    <br>
                    <button pButton type="button" class="ui-button-raised ui-button-rounded"
                        label='Request More'></button>
                </div>
            </div>
        </div>
        <div class="p-2">
            <div class="card" style="width: 18rem; border-radius: 8px; height: min-content;">
                <div class="card-body">
                    <h5 class="card-title">
                        <img src="../../../../assets//gbfs.jpeg" style="width: 40px;" />
                    </h5>
                    <br>
                    <strong>GBFS Balance</strong>
                    <br>
                    <strong>$ 16,575.18</strong>
                    <img src="../../../../assets//wallet.jpeg" style="width:fit-content;" />
                    <br>
                    <button pButton type="button" class="ui-button-raised ui-button-rounded"
                        label='Request More'></button>
                </div>
            </div>
        </div>
    </div>
</div>